<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailVertify</servlet-name>
        <servlet-class>servlet.emailVertify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>controller.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerValidationServlet</servlet-name>
        <servlet-class>controller.registerValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailFind</servlet-name>
        <servlet-class>controller.emailFind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailVerifyServlet</servlet-name>
        <servlet-class>controller.emailVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyPasswordServlet</servlet-name>
        <servlet-class>controller.modifyPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>controller.UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>servlet.testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductInfo</servlet-name>
        <servlet-class>controller.DisplayProductInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllProduct</servlet-name>
        <servlet-class>controller.LoadAllProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSearch</servlet-name>
        <servlet-class>controller.ProcessSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>controller.addCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findCart</servlet-name>
        <servlet-class>controller.findCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderConfirm</servlet-name>
        <servlet-class>controller.orderConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrder</servlet-name>
        <servlet-class>controller.addOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProductService</servlet-name>
        <servlet-class>servlet.OrderProductService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_add</servlet-name>
        <servlet-class>controller.payment_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_insert</servlet-name>
        <servlet-class>controller.payment_insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_validateCreditCard</servlet-name>
        <servlet-class>controller.payment_validateCreditCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_validateEWallet</servlet-name>
        <servlet-class>controller.payment_validateEWallet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStaffDetails</servlet-name>
        <servlet-class>controller.GetAllStaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStaffDetails</servlet-name>
        <servlet-class>controller.GetStaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStaff</servlet-name>
        <servlet-class>controller.addStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaff</servlet-name>
        <servlet-class>controller.deleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStaff</servlet-name>
        <servlet-class>controller.updateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerRecords</servlet-name>
        <servlet-class>controller.ViewCustomerRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderStatus</servlet-name>
        <servlet-class>controller.ViewOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OSDetails</servlet-name>
        <servlet-class>controller.OSDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductInfo_Backend</servlet-name>
        <servlet-class>controller.DisplayProductInfo_Backend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllSpec</servlet-name>
        <servlet-class>controller.LoadAllSpec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBy_customerlist</servlet-name>
        <servlet-class>controller.SearchBy_customerlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBy_orderstatuslist</servlet-name>
        <servlet-class>controller.SearchBy_orderstatuslist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBy_productlist</servlet-name>
        <servlet-class>controller.SearchBy_productlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBy_saleslist</servlet-name>
        <servlet-class>controller.SearchBy_saleslist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBy_stafflist</servlet-name>
        <servlet-class>controller.SearchBy_stafflist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllData</servlet-name>
        <servlet-class>controller.GetAllData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesRecord</servlet-name>
        <servlet-class>ViewSalesRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesRecords</servlet-name>
        <servlet-class>controller.ViewSalesRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRatingComment</servlet-name>
        <servlet-class>controller.addRatingComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderHistory</servlet-name>
        <servlet-class>controller.ShowOrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>controller.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCart</servlet-name>
        <servlet-class>controller.deleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdminComment</servlet-name>
        <servlet-class>controller.addAdminComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowRatingComment</servlet-name>
        <servlet-class>controller.AdminShowRatingComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminComment</servlet-name>
        <servlet-class>controller.DeleteAdminComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdminComment</servlet-name>
        <servlet-class>controller.ShowAdminComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllImage</servlet-name>
        <servlet-class>controller.LoadAllImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllProdSpec</servlet-name>
        <servlet-class>controller.LoadAllProdSpec</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailVertify</servlet-name>
        <url-pattern>/emailVertify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerValidationServlet</servlet-name>
        <url-pattern>/registerValidationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailFind</servlet-name>
        <url-pattern>/emailFind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailVerifyServlet</servlet-name>
        <url-pattern>/emailVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyPasswordServlet</servlet-name>
        <url-pattern>/modifyPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductInfo</servlet-name>
        <url-pattern>/DisplayProductInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllProduct</servlet-name>
        <url-pattern>/LoadAllProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSearch</servlet-name>
        <url-pattern>/ProcessSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findCart</servlet-name>
        <url-pattern>/findCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderConfirm</servlet-name>
        <url-pattern>/orderConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrder</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProductService</servlet-name>
        <url-pattern>/OrderProductService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_add</servlet-name>
        <url-pattern>/payment_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_insert</servlet-name>
        <url-pattern>/payment_insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_validateCreditCard</servlet-name>
        <url-pattern>/payment_validateCreditCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_validateEWallet</servlet-name>
        <url-pattern>/payment_validateEWallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStaffDetails</servlet-name>
        <url-pattern>/GetAllStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStaffDetails</servlet-name>
        <url-pattern>/GetStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStaff</servlet-name>
        <url-pattern>/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaff</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStaff</servlet-name>
        <url-pattern>/updateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerRecords</servlet-name>
        <url-pattern>/ViewCustomerRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderStatus</servlet-name>
        <url-pattern>/ViewOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OSDetails</servlet-name>
        <url-pattern>/OSDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductInfo_Backend</servlet-name>
        <url-pattern>/DisplayProductInfo_Backend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllSpec</servlet-name>
        <url-pattern>/LoadAllSpec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBy_customerlist</servlet-name>
        <url-pattern>/SearchBy_customerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBy_orderstatuslist</servlet-name>
        <url-pattern>/SearchBy_orderstatuslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBy_productlist</servlet-name>
        <url-pattern>/SearchBy_productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBy_saleslist</servlet-name>
        <url-pattern>/SearchBy_saleslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBy_stafflist</servlet-name>
        <url-pattern>/SearchBy_stafflist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllData</servlet-name>
        <url-pattern>/GetAllData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesRecord</servlet-name>
        <url-pattern>/ViewSalesRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesRecords</servlet-name>
        <url-pattern>/ViewSalesRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRatingComment</servlet-name>
        <url-pattern>/addRatingComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderHistory</servlet-name>
        <url-pattern>/ShowOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdminComment</servlet-name>
        <url-pattern>/addAdminComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowRatingComment</servlet-name>
        <url-pattern>/AdminShowRatingComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminComment</servlet-name>
        <url-pattern>/DeleteAdminComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdminComment</servlet-name>
        <url-pattern>/ShowAdminComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllImage</servlet-name>
        <url-pattern>/LoadAllImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllProdSpec</servlet-name>
        <url-pattern>/LoadAllProdSpec</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/errorPage.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>AdminRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>StaffRole</role-name>
    </security-role>
</web-app>
